{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    YaaS homepage
{% endblock %}

{% block content %}
    <h1>{% trans "Homepage" %}</h1>
    <hr>
    <h2>{% trans "Search auctions" %}</h2>
    <form action="{% url 'auction:search' %}" method="get">
        <label>
            <input type="text" name="term"/>
        </label>
        <button type="submit">{% trans "Search" %}</button>
    </form>
    {% if search %}
        <h2>{% trans "Search result auctions:" %}</h2>
    {% else %}
        <h2>{% trans "Auctions" %}</h2>
    {% endif %}
    {% for auction in auctions %}
        <h3>{{ auction.title }}</h3>
        <p>{{ auction.description|default_if_none:"no description" }}</p>
        {% ifequal currency "usd" %}
            <p>{% trans "Minimum price:" %} ${{ auction.minimum_price|stringformat:".2f" }}</p>
            <p>{% trans "Highest bid:" %} ${{ auction.highest_bid|stringformat:".2f" }}</p>
        {% else %}
            <p>{% trans "Minimum price:" %} {{ auction.minimum_price|stringformat:".2f" }}€</p>
            <p>{% trans "Highest bid:" %} {{ auction.highest_bid|stringformat:".2f" }}€</p>
        {% endifequal %}
        <p>{% trans "Deadline:" %} {{ auction.deadline_date }}</p>
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'auction:edit' auction.id %}">{% trans "Edit auction" %}</a>
                {% if user.is_superuser %}
                    {% if auction.status == 'BN' %}
                        <p>{% trans "Auction is banned" %}</p>
                    {% else %}
                        <form action="{% url 'auction:ban' auction.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Ban auction</button>
                        </form>
                    {% endif %}
                {% endif %}
            </p>

            <form action="{% url 'auction:bid' auction.id %}" method="post">
                {% csrf_token %}
                <label>
                    <input type="number" step="0.01" placeholder="{{ auction.highest_bid }}" name="new_price"/>
                </label>
                <button type="submit">Bid in auction</button>
            </form>
        {% endif %}
    {% empty %}
        {% if user.is_authenticated %}
            <p>You can be the first to <a href="{% url 'auction:create' %}"> create an auction</a>.</p>
        {% endif %}
    {% endfor %}
{% endblock %}