<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>
    <title>Search results</title>
</head>
<body>
    {% for auction in auctions %}
        <h3>{{ auction.title }} <a href="{% url 'auction:edit' auction.id %}">edit</a></h3>
        <p>{{ auction.description|default_if_none:"no description" }}</p>
        <p>Minimum price: {{ auction.minimum_price }}</p>
        <p>Deadline: {{ auction.deadline_date }}</p>
    {% empty %}
        {% if user.is_authenticated %}
            <p>You can be the first to <a href="{% url 'auction:create' %}"> create an auction</a>.</p>
        {% endif %}
    {% endfor %}
</body>
</html>